<div class="sidebar_container">
  <ul>
    <li>
      <div class="side-blocks"><a routerLink="/care/sidebarcare">CARE</a></div>
    </li>
    <li>
      <div class="side-blocks"><a routerLink="/care/icu">ICU</a></div>
    </li>
    <li>
      <div class="side-blocks"><a routerLink="/care/heart">HEART</a></div>
    </li>
    <li>
      <div class="side-blocks">
        <a routerLink="/care/ortho"> ORTHOPEDICS </a></div>
    </li>
    <li>
      <div class="side-blocks"><a routerLink="/care/emer">EMERGENCY</a></div>
    </li>
  </ul>
</div>
